/* styles.css */
body {
	background: #2196F3;
	font-family: 'Helvetica';
}

header {
	text-align: center;
}

h1 {
	font-family: 'Pacifico', cursive;
	text-shadow: 2px 2px black;
	color: white;
	width: 100%;
	font-size: 60px;
	margin: 20px auto;
}

.tweets {
	margin: 0 auto;
	width: 45%;
}

.tweet {
	border: 15px solid #1DE9B6;
	border-left: 120px solid #1DE9B6;
	border-radius: 2em;
    background-color: #E0F2F1;
	display: block;
	font-style: bold;
	margin: 15px auto;
	padding: 15px 40px;
	box-shadow: 2px 2px 2px black;
}

.orange_border {
	border: 15px solid #FFAB40;
	border-right: 120px solid #FFAB40;
	background-color: #FFF3E0;
}

.userName {
	cursor: pointer;
	font-weight: bold;
	font-size: 16px;
	font-style: bold;
	text-decoration: underline;
}

.timeago {
	font-style: italic;
}

.buttonDiv {
	text-align: center;
	margin: 0 0 40px 0;
}

.button{
	width: 20%;
	cursor: pointer; /* Cursor changes to hand while hovered */
	padding: 5px 25px;
	background: #1DE9B6;
	border: 1px solid #1DE9B6;

	/* Border-radius */
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	/* Shadow */
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0, .75);
	-moz-box-shadow: 1px 1px 4px rgba(0,0,0, .75);
	box-shadow: 1px 1px 4px rgba(0,0,0, .75);

	color: #f3f3f3;
	font-size: 1.1em;
}
.button:hover {
	background-color: #00BFA5;
}

/* Pushed button effect */
.button:hover, .button:focus{
	-webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
	-moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
	box-shadow: 0 0 1px rgba(0,0,0, .75);
}

/* blockquote styling from: http://stackoverflow.com/questions/16325687/make-big-quotes-with-blockquote */
blockquote {
    font-family: 'Pacifico', cursive;
    font-size: 18px;
    font-style: italic;
    width: 90%;
    margin: 1em 0;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
}

blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 64px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
}

blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

blockquote cite:before {
    content: "\2014 \2009";
}